body {
    margin-top: 120px;
}

#cart:hover {
    background-color: red!important;
}
#cart:hover > i{
    color: white;
}

.input-text:focus {
    outline: none;
    box-shadow: none;
}

#sidebar > a{
    background-color: black!important;
    border: 1px solid #aaaaaa;
}

#order-detail-link:hover {
    cursor: pointer;
    color: red;
}

.rate>input {
    display: none;
}

.rate {
    display: inline-block;
    ;
    border: 0;
}

.rate>label {
    float: right;
}

.rate>label:before {
    display: inline-block;
    font-size: 1.7rem;
    content: "\f005";
    font-family: FontAwesome;
    margin: 0;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
}

.rate .half:before {
    position: absolute;
    content: "\f089";
}

input:checked~label,
label:hover~label {
    color: #ffb503;
}

input:checked+label:hover,
input:checked~label:hover,
input:checked~label:hover~label,
label:hover~input:checked~label {
    color: #cc9000;
}

.product-thumbnail {
    list-style: none;
}

.product-thumbnail li {
    position: relative;
    display: inline-block;
    border: 1px solid red;
    overflow: hidden;
}

.product-thumbnail li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.3);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 0.3s;
}

.product-thumbnail li:hover::after{
    opacity: 1;
}

.product-thumbnail li:hover {
    cursor: pointer;
}

.product-thumbnail img {
    height: 85px;
    width: 85px;
}

#header {
    height: 85px;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    width: 100%;
}

#navBar {
    width: 70%;
}

#toggle-navBar {
    display: none;
}

#toggle-navBar > i {
    font-size: 30px;
}

#toggle-navBar > i:hover {
    cursor: pointer;
    font-size: 31px;
}

@media only screen and (min-width: 767px) {
    #navBar {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    section {
        padding: 0px 30px;
    }
    footer{
        padding: 0;
    }

    #toggle-navBar {
        display: block;
    }

    #navBar {
        display: none;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 0 30px rgb(0 0 0 / 10%);
        backdrop-filter: blur(3px);
        height: 280px!important;
        overflow: hidden;
        position: fixed;
        top: 85px;
        left: 0;
        width: 100%;
        padding: 20px;
    }

    #navBar .row {
        display: flex;
        flex-direction: column!important;
        align-items: center!important;
        justify-content: center!important;
        row-gap: 20px;
    }

    #navBar .row > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}