body {
    margin-top: 120px;
}

#cart:hover {
    background-color: red!important;
}
#cart:hover > i{
    color: white;
}

.input-text:focus {
    outline: none;
    box-shadow: none;
}

#sidebar > a{
    background-color: black!important;
    border: 1px solid #aaaaaa;
}

#order-detail-link:hover {
    cursor: pointer;
    color: red;
}

.rate>input {
    display: none;
}

.rate {
    display: inline-block;
    ;
    border: 0;
}

.rate>label {
    float: right;
}

.rate>label:before {
    display: inline-block;
    font-size: 1.7rem;
    content: "\f005";
    font-family: FontAwesome;
    margin: 0;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
}

.rate .half:before {
    position: absolute;
    content: "\f089";
}

input:checked~label,
label:hover~label {
    color: #ffb503;
}

input:checked+label:hover,
input:checked~label:hover,
input:checked~label:hover~label,
label:hover~input:checked~label {
    color: #cc9000;
}

.product-thumbnail {
    list-style: none;
}

.product-thumbnail li {
    position: relative;
    display: inline-block;
    border: 1px solid red;
    overflow: hidden;
}

.product-thumbnail li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.3);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 0.3s;
}

.product-thumbnail li:hover::after{
    opacity: 1;
}

.product-thumbnail li:hover {
    cursor: pointer;
}

.product-thumbnail img {
    height: 85px;
    width: 85px;
}